body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.pai {
  display: flex;
  height: 100vh;
}

/* Coluna Esquerda */
.containerdoLado {
  width: 20%;
  background-color: #110fab;
  color: white;
  padding: 20px;
}

/* Coluna Central */
.containerdoCentro {
  width: 30%;
  background-color: #f0f0f0;
  text-align: center;
  padding: 20px;
}

.foto-container img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #110fab;
}

/* Coluna Direita */
.containerdoLado2 {
  width: 50%;
  background-color: #09b0a2;
  color: white;
  padding: 20px;
  
}

h1, h2, h3 {
  margin: 10px 0;
}

.linha {
  border: none;          /* remove bordas padrão */
  height: 2px;           /* espessura da linha */
  background-color: #333; /* cor da linha */
  margin: 20px 0;        /* espaço acima e abaixo */
}